Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Application/*
Build/
Build/Android/*
Content/MobileStarterContent/*
*.blend1
Blender/*.fbx
